git co.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

.gradle

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### kodilla-testing exclusions ###

/kodilla-testing/out
/kodilla-testing/build

### kodilla-stream exclusions ###

/kodilla-stream/out
/kodilla-stream/build


### kodilla-rps exclusions ###

/kodilla-rps/out
/kodilla-rps/build

### kodilla-exception exclusions ###

/kodilla-exception/out
/kodilla-exception/build

### kodilla-good-patterns exclusions ###

/kodilla-good-patterns/out
/kodilla-good-patterns/build

### kodilla-spring-intro exclusions ###

/kodilla-spring-intro/out
/kodilla-spring-intro/build

### kodilla-spring exclusions ###

/kodilla-spring/out
/kodilla-spring/build
